<h2>gmap</h2>
<h1><%= @map&.id%></h1> 
<h1><%= @map&.address %></h1>
<h1><%= @map&.latitude %></h1> 
<h1><%= @map&.longitude %></h1>
<%# <div id='map'>
</div> %>

<style>
  #map{
    height: 400px;
  }
</style>


<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&callback=initMap" async defer></script>