<h2>gmap</h2>
<h1><%= @map&.id%></h1> 
<h1><%= @map&.address %></h1>
<h1><%= @map&.latitude %></h1> 
<h1><%= @map&.longitude %></h1>
<div id='map'>
</div>

<style>
  #map{
    height: 400px;
  }
</style>

<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  const uluru = { lat: -25.344, lng: 131.036 };
  // The map, centered at Uluru
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 18,
    center: uluru,
  });
  // The marker, positioned at Uluru
  const marker = new google.maps.Marker({
    position: uluru,
    map: map,
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&callback=initMap" async defer></script>